<%- include('./partials/header.ejs') %> 

    <div class="container text-center mt-3 p-2">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="sol-sm-8 text-center">
          <h2>Report a new UFO sighting</h2>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

    <div class="container mt-2 p-2">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <form method="POST" action="/sighting">
            <div class="form-group">
              <label for="text">Description</label>
              <textarea
                class="form-control"
                id="text"
                rows="3"
                name="text"
                placeholder="What did you see?"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                name="city"
                placeholder="City"
              />
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input
                type="text"
                class="form-control"
                id="state"
                name="state"
                placeholder="State"
              />
            </div>
            <div class="form-group">
              <label for="shape">Shape</label>
              <input
                type="text"
                class="form-control"
                id="shape"
                name="shape"
                placeholder="Any distinct shape to the UFO?"
              />
            </div>
            <div class="form-group">
              <label for="duration">Duration</label>
              <input
                type="text"
                class="form-control"
                id="duration"
                name="duration"
                placeholder="How long was the UFO visible for?"
              />
            </div>
            <div class="form-group">
              <label for="date">Date</label>
              <input
                type="text"
                class="form-control"
                id="date"
                name="date_time"
                placeholder="date"
              />
            </div>
            <div class="form-group">
              <label for="summary">Summary</label>
              <textarea
                class="form-control"
                id="summary"
                rows="3"
                name="summary"
                placeholder="Short description"
              ></textarea>
            </div>
            <input type="submit" name="submit" id="submitBtn" value="Submit" />
          </form>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </div>
</div>
